table,
th,
td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px 15px;
    text-align: left;
}
table{
    width: 100%;
}
th{
    background: #e74c3c;
    border: 2px solid #e74c3c;
    color: white;
    /* font-size: 20px; */
    height: 50px;
}
td{
    background: #f1c40f;
    border: 1px solid #000;
    color: white;
    height: 35px;
    vertical-align: top;
}
tr:hover th,
tr:hover td{
    background-color: #27ae60;
}
div.table{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}