
*{
    margin: 0;
    padding: 0;
}
html{
    height: 10%;
}
body{
    height: inherit;
}



.parent {
    background: #574b90;
    color: #fff;
    margin: 20px auto;
    padding: 2%;
    width: 92%;

    /* max-width: 900px;
    min-width: 500px; */

    height: initial;
}
